<div class='container'>
	<h2>View 1</h2>
	Name:
	<input type="text" ng-model="filter.name"/>
	<br />
	<ul>
		<li ng-repeat="club in clubs | filter:filter.name | orderBy:'country'">
			{{ club.name }} from {{ club.country }}
	</ul>
	<br>
	club name :
	<br>
	<input type="text" ng-model="newClub.name"/>
	Club country
	<input type="text" ng-model="newClub.country"/>
	<br>
    <button ng-click="addClub()"> Add club </button>
    <br>
    <a href="#/view2">View 2</a>
	<li ng-repeat="ex in externaldata ">
			{{ ex }}


</div>